html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #28282B;
}
.top{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.heading{
    width: 100%;
    display: flex;
    background-color: #ffc300;
    text-align: center;
    font-size: 80px;
    color: #28282B;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    align-items: center;
    justify-content: center;    
    box-shadow: 10px 10px 10px black;
    margin: 12px;
}

.content{
    display: flex;
    height: 80%;
    width: 100%;
    background-color: #28282B;
    flex-direction: column;
    gap:10px;
}

.info{
    display: flex;
    flex-direction: row;
}

.intro{
    color: white;
    font-size: 20px;
    width: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif\;
}

.info{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
    padding: 10px;
}

.box{
    width: 220px;
    padding: 10px;
}
.skills, .projects, .contact{
    border-radius: 10px;
    text-align: center;
    height: 170px;
    width: 220px;
    background-color: #ffc300;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.589);
    transition: all 0.15s ease-in-out;
}

.skills:hover, .projects:hover, .contact:hover{
    height: 165px;
    width: 213px;
}

img{
    height: 7%;
    width: 7%;
}

.top-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 40%;
}

.profile{
    height: 90%;
    width: auto;
    border-radius: 50%;
    transition: all 0.20s;
}

.profile:hover{
    border: 4px solid #ffc300;
    cursor: pointer;
}
.name{
    color: #ffc300;
}

h2{
    font-weight: bold;
}